img{
			display: inline-block;
            width: 60px;
		}
		nav{
			background-color:black;
			padding: 10px;
		}
        li :last-child{
            background-color: red;
            padding: 10px;
            border-radius: 50px;
        }
		li{
			display: inline;
			margin: 10px;
			float: right;
            color: white;
        }
        li :hover{
            background: darkred;
        }
		i{
			color: white;

		}
		ul{
			display: inline;
			margin: 50px;
			padding: 20px;
			
		}
		h1{
			display: inline;
		}
        .auth-container{
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(5deg,darkred,orange);
        }
        .auth-box{
            background: white;
            padding: 40px;
            border-radius:10px;
            width: 320px;
            text-align: center;
            box-shadow: 0 8px 25px rgba(0,0,0,0.3)
        }
        .auth-box h2{
            margin-bottom: 20px;
            color: black;
        }
        form{
            width: 40%;
            align-items: center;

        }
        label{
            font-weight: bolder;
            display: inline-block;
            width: 150px;
            margin: 10px;
            margin-left: 57px;
        }
        .auth-box input{
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border-radius: 5pc;
            border: 1px solid white;

        }
        .auth-box input:focus{
            border-color: red;
        }
        .auth-box button{
            width: 100%;
            margin: 90px;
            padding: 15px;
            background: red;
            color: white;
            border-radius: 5px;
            margin-top: 10px;
            border:none;
            cursor: pointer;
        }
        .auth-box button:hover{
            background-color: #cc0000;
        }
        .auth-box p{
            margin-top: 15px;
            font-size: 15px;
        }
        .auth-box a{
            color: red;
            text-decoration: none;
        }
        
		